body {
	/*background-color: pink;*/
}

table {
	font-size:  1.2em;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 0px 10px;
}

th {
	background-color: #5F9EA0;
	color: #F0FFFF;
}

.oikealle {
	text-align: right;
}

#linkki {
	color: white;
	text-decoration: none;
}

.poista {
	color:#DC143C;
	text-decoration: underline;
	cursor: pointer;
}

.muuta {
	color: #008B8B;
	text-decoration: underline;
	cursor: pointer;
}

tr {
	height: 55px;
}

tr:nth-child(2n+2) {
	background-color: #e8e8ff;
}

#loginDiv{
	position: absolute;
	border: 1px solid;
	padding: 20px;
	border-radius: 10px;
	left: 35%;
	top: 10%;
	background-color: white;
}

label {
	display: block;
	width: 5em;
	float: left;
}