table {
	font-size:  1.2em;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 0px 10px;
}

th {
	background-color: #5F9EA0;
	color: #F0FFFF;
}

.oikealle {
	text-align: right;
}

#linkki {
	color: white;
	text-decoration: none;
}

.poista {
	color: blue;
	text-decoration: underline blink;
	cursor: pointer;
}

tr {
	height: 55px;
}

tr:nth-child(2n+2) {
	background-color: #e8e8ff;
}

td {
	
}